node_modules
npm-debug.log

tmp/*
!tmp/.gitkeep

bin/*
!bin/.gitkeep

data/orders/*
!data/orders/.gitkeep

.env
.env.local
.git
.gitignore

*.md
.DS_Store

# Тестові артефакти, якщо лишились локально
*.pgm
*.jpg
!public/img/**
